.container {
  display: flex;
  display: 1080px;
}
.header {
  flex-grow: 1;
  height: 5%;
  width: 74%;
}
.row2 {
    border: 1px solid black;

  display: flex;
    height: 2%;
  margin-top: 5px;
  flex-wrap: nowrap;
  gap: 2px;
  overflow: scroll;
}
.row {
    border: 1px solid black;
  height: 3%;
  display: flex;
  justify-content: space-evenly;
}
.sidebar {
  display: block;
  justify-content: space-around;
  float: left;
  width: 20%;
  height: 100vh;
  /* position: fixed; */
  text-align: center;
}

.serach {
  display: inline-block;
}
.theams_button {
  display:block;
}

.row2 button{
    display: inline-block;
}

.main-content{
  border: 1px solid black;
  display: flex;
  width: 700px;
  height: 90%;
}

.rowh{
    display:flex;
}
.column-3 {

  width: 30%;
  background-color: antiquewhite;
}
