h1 {
  color: brown;
  font-weight: bold;
}
.article-container {
  font-style: normal;
  padding: 10px;
  background-color: rgba(234, 230, 230, 0.705);
  color: rgb(128, 128, 128);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 28px;
}

.article-meta {
  font-size: 14px;
  text-decoration: none;
  text-align: justify;
  font-style: italic;
}
.article-meta p {
  font-size: 18px;
  line-height: 1.6;
}
